<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container">
                <h1>Add a Product</h1>
                <form action="/products" method="post">
                    <div>
                    <label for="name">
                        Insert product name: 
                    </label>
                    <input type="text" name="name" id="name" placeholder="Product name">
                    </div>
                    <div>
                    <label for="description">
                        Insert product description:
                    </label>
                    <textarea name="description" id="" cols="30" rows="10" placeholder="Brief product description">

                    </textarea>
                    </div>
                    <div>
                    <label for="price">
                        Price:
                    </label>
                    <input type="number" name="price" id="price" placeholder="Product price" step=".01">
                    </div>
                    <div>
                    <label for="category">Choose a category:</label>
                    <select name="category" id="category">
                        <option value="old jewelry">Old Jewelry</option>
                        <option value="vintage">Vintage</option>
                        <option value="clothes">Clothes</option>
                        <option value="porcelain">Porcelain</option>
                        <option value="games">Games</option>
                        <option value="vases">Vases</option>
                        <option value="candies">Candies</option>
                        <option value="clocks">Clocks</option>
                        <option value="plants">Plants</option>
                        <option value="metal products">Metal Products</option>
                        <option value="sculptures">Sculptures</option>
                        <option value="books">Books</option>
                        <option value="knives">Knives</option>
                        <option value="bags">Bags</option>
                        <option value="others">Others</option>
                    </select>
                    </div>
                    <div>
                    <label for="quantity">Quantity: </label>
                    <input type="number" name="quantity" id="quantity">
                    </div>
                    <div>
                    <label for="discount">Discount: </label>
                    <input type="radio" name="discount" id="discount">
                    </div>
                    <div>
                    <button class="btn-primary" type="submit">Add Product</button>
                    </div>


                </form>
            </div>

    </body>

    </html>