<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>
            <div class="container">
                <h1>CONTACT US SECTION</h1>

            </div>

    </body>

    </html>